<!DOCTYPE html>
<html class="growth-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Child Growth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">


</head>

<body>
<!-- Logo -->


<!-- Header -->
<div class="main">
    <div class="main-container">
        <h1>Größenentwicklung</h1>

        <div class="info-container">
    <!-- Return Buttons -->
    <table cellspacing="20">
        <tr>
            <td>
                <a href="index.html">Home</a>
            </td>
            <td>
                <p> <a href='Weight.html'>Gewicht</a> </p>
            </td>
        </tr>
    </table>
    </div>
<!-- Article -->
    <div class="introduction">
        <p>Auf dieser Seite können Sie das Wachstum von %name_baby% dokumentieren.</p>
    </div>
        <hr>
        <div class="info-container">
            <div class="table-center">
                <ul>
                    <li>Woche</li>
                    <input type="text" name="week">
                    <li>Größe in cm</li>
                    <input type="text" name="length">
                </ul>
            </div>
        </div>
        <hr>
            <div class = "picture" >
                <img src='static/images/Length_Céline.png' alt="length_girl" height="auto" width="550">
            </div>
        <div class="picture">
            <img src='static/images/Length_Nam.png' alt="length_boy" height="auto" width="550">
        </div>
<hr>


    <footer class="footer">
        <p>Project under <a href="https://techlabs.org/" >Techlabs</a></p>
    </footer>

</div>

</body>
</html>