<!DOCTYPE html>
<html class="index-bg" >
<head>
    <meta charset="utf-8">
    <title>Project NewBond</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

</head>

<body>
<!-- Title -->
<div class="main">
    <div class="main-container">
        <h1>Willkommen zu NewBond</h1>
            <div class="introduction">
        <!-- section -->
                <div class="picture"><img src="https://images.unsplash.com/photo-1555856248-2676336c0e9b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="pregnant belly" width="300" height=auto>
                </div>

                <h2><em>Worum geht es hier?</em></h2>
                <p>Diese Seite bietet ihnen die Möglichkeit an die Entwicklung ihres Kindes zu dokumentieren und das Wohlbefinden der Mutter abzufragen.</p>

    </div>
        <!-- Input für Profil-->
        <div class="profile">
            <h3>Profil</h3>
            <form method="post">
                <div class="table-center">
                <table>
                    <tr>
                       <td>Name Mutter:</td>
                        <td><input type="text" name="nm_motha" ></td>
                    </tr>
                    <tr>
                        <td>Name LebenspartnerIn:</td>
                        <td><input type="text" name="nm_partna"> </td>
                    </tr>
                    <tr>
                        <td>Name Kind:</td>
                        <td><input type="text" name="nm_bebe"></td>
                        <td>Geschlecht vom Kind:</td>
                        <td><input type="radio" name="girl"></td>
                        <td>W</td>
                         <td><input type="radio" name="boy"></td>
                        <td>M</td>

                    </tr>
                </table>
                </div>
                <p><input type="submit" value="submit"/></p>
            </form>
            </div>
        <!-- selection -->
            <div class="info-container">
                <div class="child">

                <h3><str> Für das  Kind </str> </h3>
                <ul>
                <li><a href="Growth.html" >Wachstum</a></li>
                <li><a href="Weight.html" >Gewicht</a></li>
                </ul>
                </div>

                <div class="mother">
                <h3> Für die Mutter  </h3>
                <ul>
                <li><a href="Mental_Health.html">Wohlbefinden</a></li>
                </ul>
                </div>
            </div>
</div>
    <footer class="footer">
        <p>Project under <a href="https://techlabs.org/" >Techlabs</a></p>
    </footer>


</div>
</body>
</html>

