<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Project NewBond</title>
    <link rel="stylesheet" href="css/styles.css"

</style>

</head>
<!-- colorhunt for color hexcodes -->
<body>
    <h1>Welcome to New Bond</h1>
    <table cellspacing="20">
        <tr>
            <td>
            <img src="https://images.unsplash.com/photo-1555856248-2676336c0e9b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="pregnant belly" width="300" height=auto>
            </td>
            <td>
                <h1><em>What is this about?</em></h1>
                <p>This is our small sized project about Childcare in the first weeks</p>
                <p>Aim of this project is to document the growth of the child to aid
                mid wives which life is already to stressfull.  </p>
            </td>
        </tr>
    </table>
    <hr>
    <h2><str> The Child </str> </h2>
    <ul>
        <li><a href="Growth.html">Growth</a></li>
        <li><a href="Weight.html">Weight</a></li>
    </ul>
    <hr>
        <h2> The Mother  </h2>
     <ul>
       <li><a href="Mental_Health.html">Mental Health</a></li>
     </ul>
   <hr>
    <p>Project under <a href="https://techlabs.org/">Techlabs</a></p>
</body>
</html>

