<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Project NewBond</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

</head>

<body>
<!-- Title -->
<header>
    <center><h1>Welcome to New Bond</h1></center
</header>
<!-- section -->
    <table cellspacing="20">
        <tr>
            <td>
                <img src="https://images.unsplash.com/photo-1555856248-2676336c0e9b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="pregnant belly" width="300" height=auto>
            </td>
            <td>
                <h2><em>What is this about?</em></h2>
                <p>This is our small sized project about Childcare in the first weeks</p>
                <p>Aim of this project is to document the growth of the child to aid
                mid wives which life is already to stressfull.  </p>
            </td>
        </tr>
    </table>
    <hr>
    <center><h2><str> For The Child </str> </h2>
    <ul>
        <li><a href="Growth.html">Growth</a></li>
        <li><a href="Weight.html">Weight</a></li>
    </ul>
    </center>
    <hr>
        <center><h2> For The Mother  </h2>
     <ul>
       <li><a href="Mental_Health.html">Mental Health</a></li>
     </ul></center>
    <hr>


    <p>Project under <a href="https://techlabs.org/">Techlabs</a></p>
</body>
</html>

