<!DOCTYPE html>
<html class="weight-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Child Weight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
<div class="main">
    <div class="main-container">
        <h1>Child Weight</h1>

        <!-- Return Buttons -->
<div class="info-container">
<table cellspacing="20">
    <tr>
        <td>
            <p> <a href="index.html">Home</a> </p>
        </td>
        <td>
            <p> <a href='Growth.html'>Wachstum</a> </p>
        </td>
    </tr>
</table>
</div>
<!-- Article -->
    <div class="introduction">
    <p>Auf dieser Seite können Sie das Gewicht ihres Kindes dokumentieren. </p>
    </div>
<hr>
    <div class="info-container">
    <div class="table-center">
        <ul>
        <li>Woche</li>
        <input type="text" name="week">
        <li>Gewicht in Gramm</li>
        <input type="text" name="weight">
        </ul>
    </div>
    </div>
    <hr>
   <div class="picture"> <img src='static/images/Weight_Céline.png' alt="weight_girl" height="auto" width="600">
   </div>
     <div class="picture"> <img src='static/images/Weight_Nam.png' alt="weight_boy" height="auto" width="600">
   </div>

<hr>
    <footer class="footer">
        <p>Project under <a href="https://techlabs.org/" >Techlabs</a></p>
    </footer>
</div>
</body>
</html>