<!DOCTYPE html>
<html class="index-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to NewBond</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>

<div class="main">
    <div class="introduction">
    <h1>Willkommen zu NewBond </h1>
    <h2><em>Worum geht es ?</em></h2>
    <p>Unser kleines Projekt soll Hebammen und neu gewordenen Eltern helfen.</p>
    <p>Auf dieser Plattform kann die Familie das Wachstum und Gewicht des Neugeborenen dokumentieren.
       Die Mutter kann ein Fragebogen ausfüllen, um ihr Wohlbefinden einzuschätzen.
    </p>

    <a href="index.html" >Seite betreten</a>
    </div>
</div>
</body>
</html>